<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Mozharness/scripts/vcs-sync/vcs_sync.py"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PATH" value="/Library/Frameworks/Python.framework/Versions/2.7/bin:/Users/pmoore/git/mozilla:/Library/Frameworks/Python.framework/Versions/2.7/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/git/bin:/usr/local/MacGPG2/bin:/Users/pmoore/AWS-ElasticBeanstalk-CLI-2.6.0/eb/macosx/python2.7:/usr/local/mysql/bin"/>
<mapEntry key="RELENGAPI_INSERT_HGGIT_MAPPINGS_AUTH_TOKEN" value="eyJhbGciOiJIUzI1NiJ9.eyJpZCI6MTEsInYiOjF9.VnRhvyryGoGiCSeuqf2Io3-bBfOPDTOiw0T9iXtVehk"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/Users/pmoore/work/mapper/test_output_eclipse.log"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:Mozharness/scripts/vcs-sync/vcs_sync.py}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_OTHER_WORKING_DIRECTORY" value="/Users/pmoore/vcs2vcs-work-dir"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-c /Users/pmoore/work/mapper/build-repos-pete-test.py --base-work-dir /Users/pmoore/vcs2vcs-work-dir --create-git-notes"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/Users/pmoore/vcs2vcs-work-dir"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="Mozharness"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="Mozharness"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
<stringAttribute key="process_factory_id" value="org.python.pydev.debug.processfactory.PyProcessFactory"/>
</launchConfiguration>
